/* exportamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    background-image: url(../img/fondo3.jpg);
    background-repeat: repeat;
    background-size: cover;
}

#navStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

main section p {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.font-center {
    text-align: center;
}

#menu li {
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
}

#menu {
    background-color: grey;
}

.contenedor {
    position: relative;
    text-align: center;
}

.portadaStyle {
    position: relative;
}

.textoPortadaStyle {
    position: absolute;
    top: 10%;
    left: -15%;
    width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem
}

/* ---------- Animaciones -------*/
.animacion {
    animation-duration: 1s;
    animation-name: slidein;
}

.animacion:hover {
    transform: scale(1.5, 1);
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

main section div div div:hover {
    border: solid 2px;
}

.noColapsar {
    overflow-x: hidden;
}


/* ---------- STYLE PARA OFERTAS -------*/

.styleOfer {
    float: left;
    height: 300px;
    width: 400px;
    margin: 1%;
}

.positionOferta {
    text-align: center;
    position: relative;
    top: 200%;
    z-index: 2;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color: grey;
}

/* ---------- STYLE PARA DONDE ENCONTRARNOS -------*/

.map-responsive {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
    
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    position: absolute;
}



.positionDirec {
    text-align: center;
    position: relative;
    top: 10px;
    z-index: 2;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color: grey;
}